# data_sources/
archive_data
db/
exploratory/
GIS/
MA_GIS_data
output/
plan/
plots/
related_work/
reports/
reports_FS/
screenshots/

# Python
__pycache__/
*.py[cod]
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store